<header class="site-header" hidden="false">
  <div class="profile-header">
    <div class="profile-img-wrapper">
      <img class="profile-img"src="{{ "/assets/img/profile.jpg" | relative_url }}" />
    </div>
    <div class="profile-intro">
      <h1 class="intro-title">Hi, I'm <span class="name">Wes Tan</span></h1>
      <h1 class="intro-subtitle">a web / software developer</h1>
    </div>
  </div>
  <div class="about-me">
    <h1 class="header-title">About Me</h1>
    <p class="header-content">
      I'm a <span class="emphasis">full-stack developer</span> currently attending Cornell
      University interested in building <span class="emphasis">intuitive user interfaces</span> and
      writing <span class="emphasis">smart back-end logic</span>. Want to build something together?
      Feel free to reach out to me!
    </p>
  </div>
  <div class="my-skills">
    <h1 class="header-title">My Skills</h1>
    <div class="skills">
      <div class="header-skill">
        <h2 class="header-subtitle">
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          front-end
        </h2>
        <p class="header-content">
          I build attractive, usable interfaces using
          <span class="emphasis">HTML, CSS and JavaScript</span>, often with the help of handy tech
          like <span class="emphasis">Sass, React, VueJS, Redux and Bootstrap</span>.
        </p>
      </div>
      <div class="header-skill">
        <h2 class="header-subtitle">
          <i class="fa fa-code" aria-hidden="true"></i>
          back-end
        </h2>
        <p class="header-content">
          I manipulate, modify and serve data using
          <span class="emphasis">Python, Node.js, GraphQL, Java, PHP, OCaml, and C++</span>. I also
          design, build and manage databases using
          <span class="emphasis">MySQL, PostgreSQL, and SQL Server</span>.
        </p>
      </div>
    </div>
    <a
      class="resume-link"
      href="https://drive.google.com/file/d/17jxIatiiusm-bvqqiiXiqjG171xZRFgh/view?usp=sharing"
    >
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      RESUME
    </a>
  </div>
  <div class="header-contact">
    <h1 class="header-title">Contact Me</h1>
    {% include contact.html %}
    <div class="contact-buttons">
      <button id="openForm" class="open-form contact-button" aria-label="Email Button">
        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
      </button>
      <a
        class="contact-button"
        href="https://www.linkedin.com/in/wes-tan/"
        aria-label="LinkedIn Button"
      >
        <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
      </a>
      <a
        class="contact-button"
        href="https://cornell.joinhandshake.com/users/3057970"
        aria-label="Handshake Button"
      >
        <i class="fa fa-handshake-o fa-fw" aria-hidden="true"></i>
      </a>
      <a class="contact-button" href="https://github.com/WesleyT4N" aria-label="Github Button">
        <i class="fa fa-github fa-fw" aria-hidden="true"></i>
      </a>
      <a
        class="contact-button"
        href="https://www.facebook.com/wes.T4N"
        aria-label="Facebook Button"
      >
        <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <button class="collapse-left" id="collapseLeft">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </button>
  <button class="collapse-up" id="collapseUp">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</header>
