@value globals: "@styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily from globals;
@value sectionWrapper from globals;
@value row, column from globals;

.cardList {
    margin-top: xlSpace;
}
