@value globals: "../styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, mediumPlus as bp-medium-plus, large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily from globals;
@value sectionWrapper from globals;
@value row, column from globals;

.projectHeader {
    display: block;
}

.content > p {
    padding: 0 medSpace;
}

.content > h1 {
    font-size: 2rem;
}
.content > h2 {
    font-size: 1.5rem;
    padding: 0 medSpace;
}

.content > ul {
    padding: 0 xlSpace;
}

.content > ul > li:not(:last-child) {
    margin-bottom: smallSpace;
}

.projectLink {
    text-decoration: none;
    transition: opacity .25s ease;
    color: primary;
    margin-top: medSpace;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.projectLink:hover, .projectLink:active, projectLink:focus {
    opacity: 0.5;
}

@media bp-medium-plus {
    .projectHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .projectLink {
        margin: 0;
        margin-left: largeSpace;
        margin-top: 2px;
    }
}
