@value globals: "../styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily from globals;
@value sectionWrapper from globals;
@value row, column from globals;

.bodyText {
    font-size: 1.25rem;
    margin-top: 0;
}

.contactList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
}
@media bp-small {
    .contactList {
        margin: 0;
        display:block;
    }
}

.contactListItem {
    list-style: none;
    margin: 0 medSpace;
}
@media bp-small {
    .contactList {
        display:block;
    }
    .contactListItem {
        margin: medSpace 0;
    }
}

.contactLink {
    text-decoration: none;
    color: primary;
    font-family: headingFontFamily;
    border: 2px solid primary;
    padding: smallSpace medSpace;
    font-size: 1.5rem;
    transition: all .25s ease;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactLink:hover, .contactLink:focus, .contactLink:active {
    color: white;
    background: primary;
}
.contactLinkIcon {
    margin-right: smallSpace;
}

.profileImage {
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    height: 100%;
    width: 100%;
}
