<form class="contact-form" method="POST" action="http://formspree.io/wt237@cornell.edu">
  <h2 class="contact-form-header">Have a cool idea or want to get in touch? Get the conversation going!</h2>
  <button id="closeForm" class="close-form" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
  <input class="email-input input text-input" type="email" name="email" placeholder="Your email" required>
  <textarea class="msg-input input text-input" name="message" placeholder="Your message" rows="8" resizeable="false" required></textarea>
  <button class="submit-btn input" type="submit" aria-label="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
</form>