@value globals: "../../styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, mediumPlus as bp-medium-plus, large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily from globals;
@value sectionWrapper from globals;
@value rowRev, column from globals;

.bodyText {
    margin: 0;
}

.contactList {
    padding: 0;
    margin: medSpace 0;
}

.contactListItem {
    list-style: none;
    margin: 0;
    margin-top: medSpace;
}

.contactLink {
    text-decoration: none;
    color: primary;
    font-family: headingFontFamily;
    border: 2px solid primary;
    padding: smallSpace medSpace;
    font-size: 1.5rem;
    transition: all .25s ease;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactLink:hover, .contactLink:focus, .contactLink:active {
    color: white;
    background: primary;
}
.contactLinkIcon {
    margin-right: smallSpace;
}

.profileImage {
    border-radius: 50%;
    max-height: 250px;
    border: 8px solid primary;
    max-width: 250px;
    height: 100%;
    width: 100%;
}

@media bp-medium-plus {
    .contactList {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contactListItem {
        margin: 0 medSpace;
    }
    .bodyText {
        padding: 0 medSpace;
    }
}
