---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import About from '../components/about/About.astro';
import ExperienceList from '../components/experience/ExperienceList.astro';
import ProjectList from '../components/projects/ProjectList.astro';
---

<Layout title="Wes Tan's Portfolio">
    <main>
        <About />
        <ExperienceList />
        <ProjectList />
    </main>
</Layout>
