@value globals: "../styles/global.css";
@value primary, primaryDark, white from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily from globals;

.default {
    border: 2px solid primary;
    font-family: headingFontFamily;
    font-size: 2rem;
    padding: smallSpace medSpace;
    outline:none;
}
