@value globals: "../styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily, bodyFontFamily from globals;

html {
    background-color: white;
    color: primary;
    font-family: bodyFontFamily;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 largeSpace largeSpace largeSpace;
}

h1,h2,h3 {
    font-family: headingFontFamily;
}
@media bp-small {
    h1,h2,h3 {
        text-align: center;
    }
}

h2, h3 {
    font-weight: 400;
}
