@value globals: "../styles/global.css";
@value primary, primaryDark, white from globals;
@value small as bp-small, medium as bp-medium, mediumPlus as bp-medium-plus,m large as bp-large from globals;
@value smallSpace, medSpace, largeSpace, xlSpace from globals;
@value headingFontFamily, bodyFontFamily from globals;

html {
    background-color: white;
    color: primary;
    font-family: bodyFontFamily;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 largeSpace largeSpace largeSpace;
}

h1,h2,h3 {
    font-family: headingFontFamily;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
@media bp-medium-plus {
    h1,h2,h3 {
        text-align: left;
    }
}

p, ul, li {
    font-size: 1.25rem;
    line-height: 2rem;
}
